@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Mozilla+Text:wght@200..700&display=swap");
@import "tailwindcss";
/* https://coolors.co/palette/f0ead2-dde5b6-adc178-a98467-6c584c */

@theme {
    --font-caesar: "Caesar Dressing", sans-serif;
    --font-mozilla: "Mozilla Text", sans-serif;
    --color-browndark: #6C584C;
    --color-brownlight: #A98467;
    --color-greendark: #ADC178;
    --color-greenlight: #DDE5B6;
    --color-cream: #F0EAD2;
    --color-bone: #f0efeb;
}

:root {
    --dark-brown: #6C584C;
    --light-brown: #A98467;
    --dark-green: #ADC178;
    --light-green: #DDE5B6;
    --cream: #F0EAD2;
    --bone: #f0efeb;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: var(--dark-brown);
    font-family: "Mozilla Text", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 60px
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 60px;
    background-color: var(--light-green);
    transition: opacity 0.3s ease;
    z-index: 100;
}

.header-hidden {
  opacity: 0;
  pointer-events: none;
}

.header-visible {
  opacity: 1;
  pointer-events: auto;
}

/* .header-content {
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
} */

/* .header-content a {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-brown);
    text-decoration: none;
} */

/* .header-content a:hover {
    font-style: italic;
    color: var(--light-brown);
} */

/* .social-media-links {
    display: flex;
    gap: 1rem;
} */

/* .social-media-link-svg {
    width: 34px;
    height: 34px;
    fill: var(--light-brown);
} */

/* .social-media-link-svg:hover {
    fill: var(--dark-brown)
} */

/* footer {
    padding: 36px 4%;
    background-color: var(--cream);
    font-weight: 900;
    color: var(--dark-brown);
} */

/* .footer-name {
    font-family: "Caesar Dressing";
    font-weight: bolder;
    font-size: 72px;
    margin-bottom: 36px;
} */

/* .last {
    color: var(--light-brown);
    font-style: italic;
} */

/* .footer-navs {
    display: flex;
    font-size: large;
    gap: 5em;
} */

/* .nav-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
} */

/* .footer-navs p {
    margin: 0;
    font-style: italic;
} */

/* .footer-navs a {
    text-decoration: none;
    color: var(--light-brown);
}

.footer-navs a:hover {
    font-style: italic;
    color: var(--dark-green);
} */

/* .copyright {
    color: var(--light-brown);
    margin-top: 36px;
    font-size: small;
} */

/* .my-name {
    font-family: "Caesar Dressing";
    font-weight: bolder; 
    color: var(--dark-brown);
} */

/* main {
    margin-top: 60px;
} */

/* #home {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
} */

/* .home-menu-links-list {  
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;    
    font-family: "Caesar Dressing";
    font-size: 7rem;
    text-transform: uppercase;
}

.home-menu-links-title {
    font-size: 8rem;
    font-weight: 900;
} */

.home-menu-link-w {  
    color: var(--light-brown);
    text-decoration: none;
    overflow: clip;
}

.char {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

@media (min-width: 768px) { 
    .text-menu-link {  
        text-shadow: 0 8rem;
    }

    .home-menu-link-w:hover .char {
        transform: translateY(-8.2rem);
        color: var(--dark-brown);
    }
}


/* .home-link-text {
    color: var(--dark-brown);
} */

/* #about {
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efeb;
} */

/* #img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 8px;
} */

/* #about img {
    border-radius: 16px;
}

#content {
    display: flex;
	flex-direction: column;
	width: 400px;
    gap: none;
}

#content h2 {
    font-style: italic;
}

#content p {
	font-size: x-large;
    font-weight: 500;
    margin: 4px;
}

#content b {
    color: var(--light-brown);
}

#content i {
    color: var(--dark-green);
    font-weight: bold;
} */

/* #projects {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
  background-color: white;
  color: var(--dark-green);
  font-weight: 900;
  font-size: large;
} */

/* #projects h2 {
    font-size: 72px; 
} */

/* .timeline-line {
    border-left: 5px solid var(--dark-brown);
} */

/* .project-info {
    max-width: 750px;
    padding: 2rem;
    margin: 1rem;
    border-radius: 24px;
    background-color: var(--dark-brown);
    color: var(--cream);
} */

/* .project-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25em; 
  text-decoration: none;
  color: var(--dark-green); 
} */

/* .project-link svg {
  vertical-align: middle;
} */

/* .project-link:hover {
    text-decoration: underline;
} */


/* #experience {
    margin-top: 48px;
} */

