:root {
    --dark-brown: #6C584C;
    --light-brown: #A98467;
    --dark-green: #ADC178;
    --light-green: #DDE5B6;
    --cream: #F0EAD2;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: var(--dark-brown);
    font-family: "Mozilla Text", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 60px
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 60px;
    background-color: var(--light-green);
}

.my-name {
    font-family: "Caesar Dressing";
    font-weight: bolder; 
    color: var(--dark-brown);
}

.header-content {
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.header-content a {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-brown);
    text-decoration: none;
}

.header-content a:hover {
    font-style: italic;
    color: var(--light-brown);
}

.social-media-links {
    display: flex;
    gap: 1rem;
}

.social-media-link-svg {
    width: 34px;
    height: 34px;
}

main {
    margin-top: 60px;
}

#home-container {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-color: var(--light-green);
}

#home-container .left,
#home-container .right {    
    margin: 0;
    padding: 0;
    font-size: calc(100vh / 2 - 45px);
    font-family: "Caesar Dressing";
    line-height: 1;
    color: white;
}

#home-container .left {
    align-self: flex-start;
}

#home-container .right {
    align-self: flex-end;
}

#about-container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efeb;
}

#img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 8px;
}

#about img {
    border-radius: 16px;
}

#content {
    display: flex;
	flex-direction: column;
	width: 400px;
    gap: none;
}

#content h2 {
    font-style: italic;
}

#content p {
	font-size: x-large;
    font-weight: 500;
    margin: 4px;
}

#content b {
    color: var(--light-brown);
}

#content i {
    color: var(--dark-green);
    font-weight: bold;
}

#projects-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
  background-color: white;
  color: var(--dark-green);
  font-weight: 900;
  font-size: large;
}

.timeline-line {
    border-left: 5px solid var(--dark-brown);
}

.project-info {
    max-width: 750px;
    padding: 2rem;
    margin: 1rem;
    border-radius: 24px;
    background-color: var(--dark-brown);
    color: var(--cream);
}

.project-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25em; 
  text-decoration: none;
  color: var(--dark-green); 
}

.project-link svg {
  vertical-align: middle;
}

.project-link:hover {
    text-decoration: underline;
}


#experience {
    margin-top: 48px;
}

